In [1]:
import pandas as pd
import random
import time
from datetime import date
import numpy as np

import mysql.connector as mysql
import datetime as dt
import matplotlib.pyplot as plt
from pandasql import sqldf

In [58]:
my_connection = mysql.connect(
host="giniewicz.it",
user="student",
password="57u>3n7"
)

In [68]:
my_connection = mysql.connect(
host="giniewicz.it",
user="team9",
password="te@mqP@ss"
)

In [69]:
cursor = my_connection.cursor()

In [12]:
def generate_name(file):
    """
    Funkcja zwraca wylosowane imię ze 100 najbardziej znanych w Polsce imion. 
    """
    
    df = pd.read_csv(file)[1:100]
    n = df["IMIĘ_PIERWSZE"].sample(1)
    
    return n.to_string(index=False)

In [13]:
generate_name("IMIONA_ZENSKIE.csv")

'ANITA'

In [14]:
generate_name("IMIONA_MESKIE.csv")

'VOLODYMYR'

In [15]:
def generate_surname(file):
    """
    Funkcja zwraca wylosowane nazwisko ze 100 najbardziej znanych w Polsce nazwisk. 
    """
    
    df = pd.read_csv(file)[1:100]
    n = df["Nazwisko aktualne"].sample(1)
    
    return n.to_string(index=False)

In [7]:
generate_surname("NAZWISKA_ZENSKIE.csv")

'SZCZEPANIAK'

In [8]:
generate_surname("NAZWISKA_MESKIE.csv")

'PIOTROWSKI'

In [16]:
def str_time_prop(start, end, time_format, prop):
    """
    Zwraca datę pomiędzy dwiema ustalonymi (w odstępie takim jak argument (0,1))
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))

In [3]:
str_time_prop("01/01/1922", "01/01/1962", '%d/%m/%Y', 0.5)

'01/01/1942'

In [17]:
def random_date(start, end):
    """
    Losuje odstęp i wywołuje funkcje zwracającą date
    
    W ogólności funkcja za pomocą funkcji str_time_prop zwraca losową datę pomiędzy dwiema zadanymi 
    w argumentach danymi. Będzie do losowania JoinDate
    """
    prop=random.random()
    start = start.strftime('%d/%m/%Y')
    end = end.strftime('%d/%m/%Y')
    d = str_time_prop(start, end, '%d/%m/%Y', prop)
    return dt.datetime.strptime(d, '%d/%m/%Y')

In [18]:
random_date(dt.datetime(1979, 2, 18, 0, 0), dt.datetime(1992, 2, 18, 0, 0))

datetime.datetime(1989, 6, 9, 0, 0)

In [19]:
def generate_email(name, surname):
    
    """
    Funkcja zwraca email osoby 
    """
    
    number = int(random.random()*10000)
    mail = name.lower() + '.' + surname.lower() + str(number) + '@giniewicz.it.com'
    
    return mail

In [20]:
name = generate_name("IMIONA_ZENSKIE.csv")
surname = generate_surname("NAZWISKA_ZENSKIE.csv")
email(name, surname)

NameError: name 'email' is not defined

In [21]:
def generate_phone():
    
    """
    Funkcja zwraca numer osoby 
    """
    
    phone = random.randint(500000000, 900000000)
    return phone

In [15]:
generate_phone()

522679007

In [16]:
df = pd.read_csv("ADRESY_beta.csv", sep = ";")
df = df[["MIEJCOWOSC", "NAZWA_ULICY", "NUMER"]]

In [17]:
df.to_csv('ADRESY.csv', index = False)

In [22]:
def generate_address(file): 
    
    df = pd.read_csv(file)
    row = df.sample(1)
    
    city = row["MIEJCOWOSC"].to_string(index=False)
    street = row["NAZWA_ULICY"].to_string(index=False)
    number = row["NUMER"].to_string(index=False)
    
    address = street + " " + number + " " + city
    
    return address

In [19]:
generate_address("ADRESY.csv")

'ulica Potażowa 31 Warszawa'

In [23]:
def generate_gender():

    x = random.random()
    
    if 0 < x < 0.01:
        return "OTHER"
    elif 0.01 < x < 0.522:
        return "FEMALE"
    else:
        return "MALE"

In [28]:
generate_gender()

'MALE'

In [24]:
def generate_depart_date(company_start, current_date):
    
    """
    Funkcja zwraca datę odejścia pracownika lub gracza,
    musimy ustalić z jakimś prawdopodobieństwem ludzie odchodzą
    """
    
    x = random.random()
    
    if 0 < x < 0.1:
        date = random_date(company_start, current_date)
    else:
        date = "01/01/9999"
        date = dt.datetime.strptime(date, '%d/%m/%Y')
    
    
    return date

In [145]:
generate_depart_date("01/01/1922", "01/06/2022")

datetime.datetime(1979, 2, 18, 0, 0)

In [25]:
def generate_income(min_income, max_income):
    
    """
    Funckcja zwraca losowe dochody danego pracownika.
    """
    
    income = random.randint(min_income ,max_income)
    
    return income

In [66]:
def fill(cursor):
    
    staff_depart_dates = []
    def info_fill_staff():


        for i in range(1, 16):

            gender = generate_gender()
            if gender == "FEMALE":
                file1 = "IMIONA_ZENSKIE.csv"
                file2 = "NAZWISKA_ZENSKIE.csv"
            elif gender == "MALE":
                file1 = "IMIONA_MESKIE.csv"
                file2 = "NAZWISKA_MESKIE.csv"
            else:
                x = random.random()
                if 0 < x < 0.5:
                    file1 = "IMIONA_ZENSKIE.csv"
                    file2 = "NAZWISKA_ZENSKIE.csv"
                else:
                    file1 = "IMIONA_MESKIE.csv"
                    file2 = "NAZWISKA_MESKIE.csv"


            first_name = generate_name(file1)
            last_name = generate_surname(file2)
            address = generate_address("ADRESY.csv")
            join_date = dt.date(2021, 1, 1)
            depart_date = generate_depart_date(dt.datetime(2021, 1, 1), dt.datetime(2022, 6, 1))

            if depart_date != dt.datetime(9999, 1, 1, 0, 0):
                staff_depart_dates.append((i, depart_date))

            birth_date = random_date(dt.datetime(1958, 1, 1), dt.datetime(2004, 1, 1))
            email = generate_email(first_name, last_name)
            phone = generate_phone()

            qr = ('INSERT INTO team9.Info ' 
                  '(InfoID, FirstName, LastName, Address, JoinDate, DepartDate, BirthDate, Email, Phone, Gender) ' 
                  'VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)')
            cursor.execute(qr, (i, first_name, last_name, address, join_date, depart_date, birth_date, email, phone, gender))
            
            
            
        for i in range(1, len(staff_depart_dates)+1):
            
            gender = generate_gender()
            if gender == "FEMALE":
                file1 = "IMIONA_ZENSKIE.csv"
                file2 = "NAZWISKA_ZENSKIE.csv"
            elif gender == "MALE":
                file1 = "IMIONA_MESKIE.csv"
                file2 = "NAZWISKA_MESKIE.csv"
            else:
                x = random.random()
                if 0 < x < 0.5:
                    file1 = "IMIONA_ZENSKIE.csv"
                    file2 = "NAZWISKA_ZENSKIE.csv"
                else:
                    file1 = "IMIONA_MESKIE.csv"
                    file2 = "NAZWISKA_MESKIE.csv"


            first_name = generate_name(file1)
            last_name = generate_surname(file2)
            address = generate_address("ADRESY.csv")
            birth_date = random_date(dt.datetime(1958, 1, 1), dt.datetime(2004, 1, 1))
            email = generate_email(first_name, last_name)
            phone = generate_phone()
            join_date = staff_depart_dates[i-1][1]
            depart_date = dt.datetime(9999, 1, 1, 0, 0)
            
            qr = ('INSERT INTO team9.Info ' 
                  '(InfoID, FirstName, LastName, Address, JoinDate, DepartDate, BirthDate, Email, Phone, Gender) ' 
                  'VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)')
            cursor.execute(qr, (i+15, first_name, last_name, address, join_date, depart_date, birth_date, email, phone, gender))
            
    def staff_fill():
        
        positions = {1:"PREZES", 2:"WICEPREZES", 3:"KSIĘGOWY", 4:"WOŹNY", 13:"FIZJOTERAPEUTA", 14:"KONSERWATOR LODU",
                    15:"ZŁOTA RĄCZKA"}
        positions.update(dict.fromkeys([5, 6, 7, 8, 9, 10, 11, 12], "TRENER"))

        
        for i in range(1,16):
            qr = ('INSERT INTO team9.Staff ' 
                  '(StaffID, Position, InfoID) ' 
                  'VALUES (%s, %s, %s)')

            cursor.execute(qr, (i, positions[i], i))
            
        for i in range(1, len(staff_depart_dates)+1):
            qr = ('INSERT INTO team9.Staff ' 
                  '(StaffID, Position, InfoID) ' 
                  'VALUES (%s, %s, %s)')
            
            cursor.execute(qr, (i+15, positions[i], i+15))

            
                
            
            
            
    info_fill_staff()
    staff_fill()

In [43]:
qr = """SELECT InfoID FROM team9.Info"""
cursor.execute(qr)

In [46]:
cursor.fetchone()[0]

3

In [ ]:
def fill2(cursor):
    
    staff_depart_dates = []
    def info_fill_staff():
        
        for i in range(15): # mamy 15 pracownikow

            gender = generate_gender()
            if gender == "FEMALE":
                file1 = "IMIONA_ZENSKIE.csv"
                file2 = "NAZWISKA_ZENSKIE.csv"
            elif gender == "MALE":
                file1 = "IMIONA_MESKIE.csv"
                file2 = "NAZWISKA_MESKIE.csv"
            else:
                x = random.random()
                if 0 < x < 0.5:
                    file1 = "IMIONA_ZENSKIE.csv"
                    file2 = "NAZWISKA_ZENSKIE.csv"
                else:
                    file1 = "IMIONA_MESKIE.csv"
                    file2 = "NAZWISKA_MESKIE.csv"


            first_name = generate_name(file1)
            last_name = generate_surname(file2)
            address = generate_address("ADRESY.csv")
            join_date = dt.date(2021, 1, 1)
            depart_date = generate_depart_date("01/01/2021", "01/06/2022")
            birth_date = random_date("01/01/1958", "01/01/2004")
            email = generate_email(first_name, last_name)
            phone = generate_phone()

   
            j = 0
            while depart_date != dt.datetime(9999, 1, 1, 0, 0):
                staff_depart_dates.append((i+j, depart_date))

                gender = generate_gender()
                if gender == "FEMALE":
                    file1 = "IMIONA_ZENSKIE.csv"
                    file2 = "NAZWISKA_ZENSKIE.csv"
                elif gender == "MALE":
                    file1 = "IMIONA_MESKIE.csv"
                    file2 = "NAZWISKA_MESKIE.csv"
                else:
                    x = random.random()
                    if 0 < x < 0.5:
                        file1 = "IMIONA_ZENSKIE.csv"
                        file2 = "NAZWISKA_ZENSKIE.csv"
                    else:
                        file1 = "IMIONA_MESKIE.csv"
                        file2 = "NAZWISKA_MESKIE.csv"

                first_name = generate_name(file1)
                last_name = generate_surname(file2)
                address = generate_address("ADRESY.csv")
                join_date = depart_date
                depart_date = generate_depart_date(depart_date, "01/06/2022")
                birth_date = random_date("01/01/1958", "01/01/2004")
                email = generate_email(first_name, last_name)
                phone = generate_phone()
                
                qr = ('INSERT INTO team9.Info ' 
                  '(InfoID, FirstName, LastName, Address, JoinDate, DepartDate, BirthDate, Email, Phone, Gender) ' 
                  'VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)')
                cursor.execute(qr, (i+j, first_name, last_name, address, join_date, depart_date, birth_date, email, phone, gender))
            
                j = j+1
                    

            qr = ('INSERT INTO team9.Info ' 
                  '(InfoID, FirstName, LastName, Address, JoinDate, DepartDate, BirthDate, Email, Phone, Gender) ' 
                  'VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)')
            cursor.execute(qr, (i+1, first_name, last_name, address, join_date, depart_date, birth_date, email, phone, gender))

In [70]:
fill(cursor)

In [ ]:
def fill_items(cursor):
    #wstępna tabela items i itemcosts. nie dawałem tutaj ciuchów, bo wsm nie pamietam na czym stanelo
    
    qr_itemCosts = ('INSERT INTO team9.ItemCosts ' 
          '(Date, Amount) ' 
          'VALUES (%s, %s)')
    
    qr_item = ('INSERT INTO team9.Items ' 
          '(Size, PaymentID, Type, Broken) ' 
          'VALUES (%s, %s, %s, %s)')
    
    #liczba poszczególnych itemów i ich cena. Odpowiednio: kamienie, szczotki, buty i ta maszyna do lodu
    items_price = {35:random.randint(5000,7000), 30:random.randint(200,400), 20:random.randint(500,700), 1:random.randint(150000,200000)}
    
    #dodajemy ceny. Wszystko kupujemy w pierwszy dzien dzialalnosci klubu
    for key, val in items_price.items():
        for i in range(key):
            cursor.execute(qr_itemCosts, (dt.date(2021, 1, 1), val))
    
    #dodajemy itemy i odpowiedni klucz do ceny. Sprzet moze byc zepsuty z prawdop. 5%
    for i in range(35):
        cursor.execute(qr_item, ('-', i+1, 'KAMIEN', np.random.binomial(1, 0.05)))
    for i in range(30):
        cursor.execute(qr_item, ('-', i+36, 'SZCZOTKA', np.random.binomial(1, 0.05)))
    for i in range(20):
        #losujemy numer buta
        cursor.execute(qr_item, (str(random.randint(33,45)), i+66, 'BUTY', np.random.binomial(1, 0.05)))
        
    #maszyna za ponad 150 koła nie może się zepsuć xd
    cursor.execute(qr_item, ('-', 86, 'ROLBA', 0))

In [71]:
my_connection.commit()
cursor.close()
my_connection.close()